{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <!-- ISI -->
    <div class="container text-center">
        <div class="col-12 ml-5">
            <img class="float-right mb-3" style="width: 850px; max-height: 800px" src="{{news.picture}}" alt="some_pict">
        </div>
        <div class="col-12 text-justify">
            <h2>{{news.title}}</h2>
            <br>
            <p style="text-indent: 50px;">{{news.content}}</p>
            <p class="text-primary"><a href="{% url 'news' %}">kembali</a></p>
        </div>
    </div>
{% endblock %}