@import url('https://fonts.googleapis.com/css?family=Muli');
/* HEADER blblablblbl */

.sidebar {
    
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.88);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

.bottom_sidebar {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }  

  .sidebar a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
    text-align: center;
  }
   
  .sidebar a.active {
    background-color: #64b4f4;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

body{
  background-image:url("../images/background.jpg");
  background-size: 20%;
  overflow: hidden;
  
    /* {% static 'images/background.jpg' %}
    url("../img/img/img-header@2x.png") */
}

footer{
  padding-top: 100px;
}

p.footer{
  font-size: 10px;
  text-align: center;
  padding: 0px 270px;
}

.title_summary, .who, .scope{
  text-align: center;
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.summary, .w_who{
  text-align: center;
  /* padding-top:5px; */
  padding-left: 20px;
  padding-right: 20px;
  font-family: Verdana, sans-serif;
}

.text_up{
  text-align: center;
  color: white;
  padding: 10px 0px;
}



.slide{
  text-align: center;
}

span.carousel-control-prev-icon{
  background: black;
}
div.d-block{
  width:50px;
}

  div.content {
    margin-left: 200px;
    padding: 30px 5px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.background{
    width:75%;
    float: right;
}
.icon{
    width: 30px;
}

.icon_up{
  width : 15px;
}

span.home_contact{
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.button{
  text-align: center;
}


#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure:hover {
	animation-play-state: paused; enable for pause on hover
}
#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}
/* ISI */
/* HOME */

.item-1, 
.item-2, 
.item-3 {
	position: bottom;
  display: block;

  /* font-size: 2em; */

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
