/* HEADER blblablblbl */
.sidebar {
    
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.88);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

.bottom_sidebar {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }  

  .sidebar a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
  }
   
  .sidebar a.active {
    background-color: #64b4f4;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

body{
  background-image:url("../images/background.jpg")
    /* {% static 'images/background.jpg' %}
    url("../img/img/img-header@2x.png") */
}

.text_up{
  text-align: center;
  color: white;
  padding: 10px 0px;
}
div.d-block{
  width:50px;
}
  div.content {
    margin-left: 200px;
    padding: 30px 5px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.background{
    width:75%;
    float: right;
}
.icon{
    width: 20px;
}

.icon_up{
  width : 15px;
}

span.home_contact{
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.text_bottom{
  text-align: center;
}

.content{
  padding-top: 1000px;
}

/* ISI */
/* HOME */
